<main>
    <h1>MusicApp</h1>
    <form action="/sessions" method="POST" class="login">
    <%= auth_token %>
    <label for="email">Email:</label>
    <input type="text" name="user[email]" id="email">
    <label for="password">Password:</label>
    <input type="password" name="user[password]" id="password">
    <button type="submit" value="Login">Login</button>
    </form>
</main>