<main>
    <h1>MusicApp</h1>
    <form action="<%=users_url%>" method="POST" class="login">
        <%= auth_token %>
        <label for="email">Email:</label>
        <input type="text" id="email" name="user[email]">
        <label for="password">Password:</label>
        <input type="password" id="password" name="user[password]">
        <button type="submit" value="Create">Create</button>
    </form>
</main>
